<link rel="import"
      href="../../bower_components/polymer/polymer.html">

<dom-module id="digital-element">
    <template>
        <style>
            .digit {
                display: inline-block;
                height: 50px;
                margin: 0 4px;
                position: relative;
                text-align: left;
                width: 28px;
            }

            .digit span {
                background-color: #272e38;
                border-color: #272e38;
            }

            .digit span {
                opacity: 0;
                position: absolute;
                transition: all 2s ease 0s;
            }

            .digit span::before, .digit span::after {
                border: 5px solid transparent;
                content: "";
                height: 0;
                position: absolute;
                width: 0;
            }

            .digit .d1 {
                height: 5px;
                left: 6px;
                top: 0;
                width: 16px;
            }

            .digit .d1::before {
                border-right-color: inherit;
                border-width: 0 5px 5px 0;
                left: -5px;
            }

            .digit .d1::after {
                border-left-color: inherit;
                border-width: 0 0 5px 5px;
                right: -5px;
            }

            .digit .d2 {
                height: 5px;
                left: 6px;
                top: 24px;
                width: 16px;
            }

            .digit .d2::before {
                border-right-color: inherit;
                border-width: 3px 4px 2px;
                left: -8px;
            }

            .digit .d2::after {
                border-left-color: inherit;
                border-width: 3px 4px 2px;
                right: -8px;
            }

            .digit .d3 {
                height: 5px;
                left: 6px;
                top: 48px;
                width: 16px;
            }

            .digit .d3::before {
                border-right-color: inherit;
                border-width: 5px 5px 0 0;
                left: -5px;
            }

            .digit .d3::after {
                border-left-color: inherit;
                border-width: 5px 0 0 5px;
                right: -5px;
            }

            .digit .d4 {
                height: 14px;
                left: 0;
                top: 7px;
                width: 5px;
            }

            .digit .d4::before {
                border-bottom-color: inherit;
                border-width: 0 5px 5px 0;
                top: -5px;
            }

            .digit .d4::after {
                border-left-color: inherit;
                border-width: 0 0 5px 5px;
                bottom: -5px;
            }

            .digit .d5 {
                height: 14px;
                right: 0;
                top: 7px;
                width: 5px;
            }

            .digit .d5::before {
                border-bottom-color: inherit;
                border-width: 0 0 5px 5px;
                top: -5px;
            }

            .digit .d5::after {
                border-top-color: inherit;
                border-width: 5px 0 0 5px;
                bottom: -5px;
            }

            .digit .d6 {
                height: 14px;
                left: 0;
                top: 32px;
                width: 5px;
            }

            .digit .d6::before {
                border-bottom-color: inherit;
                border-width: 0 5px 5px 0;
                top: -5px;
            }

            .digit .d6::after {
                border-left-color: inherit;
                border-width: 0 0 5px 5px;
                bottom: -5px;
            }

            .digit .d7 {
                height: 14px;
                right: 0;
                top: 32px;
                width: 5px;
            }

            .digit .d7::before {
                border-bottom-color: inherit;
                border-width: 0 0 5px 5px;
                top: -5px;
            }

            .digit .d7::after {
                border-top-color: inherit;
                border-width: 5px 0 0 5px;
                bottom: -5px;
            }

            .one .d5, .one .d7 {
                opacity: 1;
            }

            .two .d1, .two .d5, .two .d2, .two .d6, .two .d3 {
                opacity: 1;
            }

            .three .d1, .three .d5, .three .d2, .three .d7, .three .d3 {
                opacity: 1;
            }

            .four .d5, .four .d2, .four .d4, .four .d7 {
                opacity: 1;
            }

            .five .d1, .five .d2, .five .d4, .five .d3, .five .d7 {
                opacity: 1;
            }

            .six .d1, .six .d2, .six .d4, .six .d3, .six .d6, .six .d7 {
                opacity: 1;
            }

            .seven .d1, .seven .d5, .seven .d7 {
                opacity: 1;
            }

            .eight .d1, .eight .d2, .eight .d3, .eight .d4, .eight .d5, .eight .d6, .eight .d7 {
                opacity: 1;
            }

            .nine .d1, .nine .d2, .nine .d3, .nine .d4, .nine .d5, .nine .d7 {
                opacity: 1;
            }

            .zero .d1, .zero .d3, .zero .d4, .zero .d5, .zero .d6, .zero .d7 {
                opacity: 1;
            }
        </style>
        <div class$="{{digit}} digit">
            <span class="d1"></span>
            <span class="d2"></span>
            <span class="d3"></span>
            <span class="d4"></span>
            <span class="d5"></span>
            <span class="d6"></span>
            <span class="d7"></span>
        </div>
    </template>
    <script>

        Polymer({
                    is: "digital-element",
                    properties: {
                        digit: {type: String, value: "zero"}
                    },
                    ready: function () {

                    }
                });
    </script>
</dom-module>