<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ditigal Element Test</title>
    <link rel="import" href="digital-element.html"/>
    <script src="bower_components/webcomponentsjs/webcomponents.js"></script>
</head>
<body>
<div>
    <digital-element digit="zero"></digital-element>
    <digital-element digit="one"></digital-element>
    <digital-element digit="two"></digital-element>
    <digital-element digit="three"></digital-element>
    <digital-element digit="four"></digital-element>
    <digital-element digit="five"></digital-element>
    <digital-element digit="six"></digital-element>
    <digital-element digit="seven"></digital-element>
    <digital-element digit="eight"></digital-element>
    <digital-element digit="nine"></digital-element>
</div>
    
</body>
</html>